// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .

$(document).ready(function (){

	function initialize() {
   	
  	//var myLatlng = {lat: 35.033758, lng: -80.774425};
    var myLatlng = {lat: 35.033758, lng: -80.774425};
    	
    var mapOptions = {
    	center: myLatlng,
      zoom: 15,
      scrollwheel: false 
    };
        
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);    

   		 		//var marker = new google.maps.Marker({
   	   		//position: myLatlng,
    	  	//map: map,});
	    	  //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  	  	  //var iconBase = '../../assets';		
	  			//var marker = new google.maps.Marker({
  	  		//	position: myLatlng,
    			//	map: map,
    			//	icon: iconBase + 'IMG_1068.ico' });
    	
				
		var image = "<%= asset_path 'IMG_1068.ico'%>"
		//var image = "<%= asset_path 'atacama.jpg'%>"
    var marker = new google.maps.Marker({
     	 position: myLatlng,
     	 map: map,
     	 icon: image 
    }); //this the way TTS said to do it and save the file as application.js.erb
    var contentString = '<h2>13219 Darby Chase Dr</h2>' +
  				'<p>This is the coolest place on earth, you guys.</p>';
		var infowindow = new google.maps.InfoWindow({ content: contentString });
    		marker.addListener('click', function() { infowindow.open(map, marker); });
  }
    google.maps.event.addDomListener(window, 'load', initialize);
});
